/* * {
    border: 1px solid gray;
} */

main {
    background-color: #fd3398 ;
}

.custom-col-1{
    display: flex;
    justify-content: flex-end;
}

.custom-col-2{
    display: flex;
    justify-content: start;
}

.banner{
    color: #fcdc4d ;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0rem;
    text-transform: uppercase;
    font-size: 1.5rem;

}

.banner-end{
    padding-top: 6px;
    padding-left: 8px;
}

.timer{
    color: #fcdc4d ;
}


#countdown {
    padding-left: 1rem;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0rem;
    justify-content: center;
    font-size: 1.5rem;
}

i {
    animation-name: bolt;
    color: #d7d7d7;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes bolt {
    0% {color: #d7d7d7;}
    15% {color: green;}
    30% {color: blue;}
    45% {color: rgb(43, 0, 128);}
    60% {color: rgb(196, 0, 0);}
    75% {color: rgb(249, 75, 0);}
    90% {color: yellow;}
    100% {color: #d7d7d7}
}

/* NOTE All formatting for sm devices is completed */
@media (max-width: 760px) {

    /* NOTE used different coloured backgrounds to determine sizing */
    /* main {
        background-color: #33dffd ;
    } */

    .custom-col-1{
        display: flex;
        justify-content: center;
        offset: none;
    }

    .custom-col-2{
        display: flex;
        justify-content: center;
    }

    .banner{
        padding-left: 1px;
        font-size: 10pt !important;
        
        /* NOTE alternate font colours for diff. backgrounds */
        /* color: black !important; */
    }


    .banner-end{
        padding-top: 4px;
        justify-content: center;
        display: flex;
    }

    #countdown {
        padding-left: 1px;
        font-size: 10pt !important;

        /* NOTE alternate font colours for diff. backgrounds */
        /* color: black !important; */

    }
}

/* NOTE All formatting for xs mobile devices is completed */
@media (max-width: 390px) {

    /* NOTE used different background colour to determine sizing */
    /* main {
       
        background-color: #33fd33 !important;
    } */

    .fas.fa-bolt{
        padding-left: 4.5px !important;
        padding-right: 4.5px !important;
    }

    .custom-col-1{
        display: flex;
        justify-content: center;
        offset: none;
    }

    .custom-col-2{
        display: flex;
        justify-content: center;
    }

    .banner {
        padding-left: 1px;
        padding-bottom: 0;
        font-size: 8pt !important;

        /* NOTE alternate font colours for diff. backgrounds */
        /* color: black !important; */

    }

    .banner-end{
        padding-top: 4px;
        justify-content: center;
        display: flex;
    }

    #countdown {
        padding-left: 1px;
        font-size: 8pt !important;

        /* NOTE alternate font colours for diff. backgrounds */
        /* color: black !important; */
    }
}